* {
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: #000;
    color: #fff;
}

.cardsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}

img {
    margin: 10px;
    width: 50px;
}